// FONTS
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700|Lato:400,400italic,700|Amatic+SC:400,700);

$fontContent: 'Lato';
$fontTitle: 'Oswald';
$fontLogo: 'Amatic SC';

// COLORS
$black: #000;
$white: #fff;
$green: #8FB168;
$beige: #e4c890;
$aqua: #89a9d5;
$warming: #e2975f;
$lightGray: #c3c3c3;
$darkGray: #848484;
$charcoal: #333333;