@import "variables";

#main {
	width: 100%;
	margin: 0;
	font-family: $fontContent;
	font-size: 1em;
	@media screen and (min-width:540px){
		font-size: 1.25em;
	}
}
.main-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background: $white;
	padding: 1em;
	padding-bottom: 50px;
	color: $black;
	@media screen and (max-width: 786px){
		padding: 0;
		padding-bottom: 5px;
	}
}
section {
	padding: 1em;
}
.section-title {
	font-family: $fontTitle;
}

// - - - - - - - - - - - - - - - - - - - - - - INGREDIENTS
#ingredients {
	text-align: center;
}
.tab-container {
	width: 812px;
	margin: 0 auto;
	margin-bottom: 1em;
	@media screen and (max-width: 870px){
		width: 100%;
	}
}
ul.tabs {
	margin: 0 auto;
	padding: 0px;
	list-style: none;
	display: table;
  	table-layout: fixed;
	width: 100%;


}
ul.tabs li {
	text-align: center;
	font-family: $fontTitle;
	font-weight: 300;
	text-transform: uppercase;
	color: $white;
	display: table-cell;
 	width: auto;
	cursor: pointer;
	padding: 25px 0;
	position: relative;
	@media screen and (min-width: 871px){
		font-size: 18px;
	}
}
// ----------------------------------- COOLING ---
.cooling {
	background: $aqua;
}// .cooling
#cooling dt {
	text-transform: uppercase;
	color: $white;
	cursor: pointer;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background: darken($aqua, 15%);
	&:after {
		font-family: 'fontawesome';
		content: '\f0da';
		margin-left: 10px;
		color: $white;
	}
}// #cooling dt
#cooling .expanded { 
	&:after {
		font-family: 'fontawesome';
		content: '\f0d7';
		margin-left: 6px;
	}
}// #cooling expanded
#cooling dd {
	margin: 0;
}
.cooling-table {
	th {
		background: darken($aqua, 15%);
		text-align: center;
	}
}
// ------------------------------------ WARMING --
.warming {
	background: $warming;
}
#warming dt {
	text-transform: uppercase;
	color: $white;
	cursor: pointer;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background: darken($warming, 15%);
	&:after {
		font-family: 'fontawesome';
		content: '\f0da';
		margin-left: 10px;
		color: $white;
	}
}// #warming dt
#warming .expanded { 
	&:after {
		font-family: 'fontawesome';
		content: '\f0d7';
		margin-left: 6px;
	}
}// #warming expanded
#warming dd {
	margin: 0;
}
.warming-table {
	th {
		background: darken($warming, 15%);
		text-align: center;
	}
}
// ---------------------------------- UNSCENTED --
.unscented {
	background: $lightGray;
}
#unscented dt {
	text-transform: uppercase;
	color: $white;
	cursor: pointer;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background: lighten($charcoal, 20%);
	&:after {
		font-family: 'fontawesome';
		content: '\f0da';
		margin-left: 10px;
		color: $white;
	}
}// #unscented dt
#unscented .expanded { 
	&:after {
		font-family: 'fontawesome';
		content: '\f0d7';
		margin-left: 6px;
	}
}// #unscented expanded
#unscented dd {
	margin: 0;
}
.unscented-table {
	th {
		background: lighten($charcoal, 20%);
		text-align: center;
	}
}

.ingredient-content{
	padding: 10px;
}
.cannabis-table {
	th {
		background: $green;
		text-align: center;
	}
}

// --------------------- TAB SETUP --
ul.tabs li.current {
	&:before {
		font-family: 'fontawesome';
		content: '\f0d7';
		font-size: 18px;
		position: absolute;
		bottom: 3px;
		left: 45%;
		@media screen and (min-width: 660px){
			left: 48%;
		}
	}
}
.tab-content {
	display: none;
	padding: 15px;
	text-align: center;
	img {
		margin: 0 auto;
	}
}
#tab-cooling {
	background: $aqua;
}
#tab-warming {
	background: $warming;
}
#tab-unscented {
	background: $lightGray;
}
#tab-non-cannabis {
	background: $darkGray;
}
.tab-content.current {
	display: inherit;
	@media screen and (max-width: 752px){
		padding: 10px 0;
	}
}

// - - - - - - - - - - - - - - - - - - - - - - SAMPLE PACK
#sample {
	width: 80%;
	margin: 0 auto;

	margin-top:25px;
	border: 1px solid $green;
	border-radius: 10px;
	@media screen and (max-width: 768px){
		width:100%;
		border: none;
	}
}
.sample-desc {
	width:60%;
	display: inline-block;
	text-align: justify;
	vertical-align: top;
	@media screen and (max-width:520px){
		display: block;
		width: 100%;
	}
	@media screen and (min-width:1044px){
		p {
			font-size: 20px;
		}
	}
}
.sample-img {
	display: inline-block;
	width: 34%;
	margin-left: 5%;
	text-align: center;
	vertical-align: top;
	@media screen and (max-width:520px){
		display: block;
		width: 100%;
		margin: 0;
	}
	img {
		margin: 0 auto;
		transform: scale(.75,.75);
		@media screen and (min-width:521px){
			display: block;
			transform: scale(.95,.95);
		}
	}// img
	.purchase {
		display: block;
		margin: 1em auto;
		padding: 15px;
		border-radius: 5px;
		background: $aqua;
		color: $white;
		font-family: $fontTitle;
		text-transform: uppercase;
		&:hover {
			background: darken($aqua, 5%);
			color: darken($white, 5%);
			text-decoration: none;
		}
	}// .purchase
}// .sample-img

// - - - - - - - - - - - - - - - - - - - - - - PRICING
#pricing {
	background: $green;
	background-image: url('images/pricing_bg.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	width: 100%;
	text-align: center;
	h4 {
		color: $white;
		text-shadow: 2px 2px $charcoal;
	}
	.section-title {
		color: $white;
		text-shadow: 2px 2px $charcoal;
	}
	p {
		color: $white;
		font-size: 18px;
		margin: 1em auto;
	}
}// #pricing
.pricing-chart {
	background: rgba($charcoal, .75);
	padding: 15px;
	margin: 25px auto;
	max-width: 920px;
	border-radius: 10px;
	h2 {
		color: $white;
		font-family: $fontTitle;
		margin-bottom: 20px;
	}
}// .pricing-chart
#cannabis-pricing {
	border: 2px solid $green;
	margin-top: 0;
}// #cannabis-pricing
#non-cannabis-pricing {
	border: 2px solid $aqua;
}
.tg  {
	width:612px;
	margin: 0 auto;
	border-collapse:collapse;
	border-spacing:0;
	border-color: $black;
	@media screen and (max-width: 870px){
		width: 100%;
	}
}
.tg td{
	font-family:$fontContent, sans-serif;
	font-size:18px;
	padding: 5px;
	border-style:solid;
	border-width:1px;
	border-color: $charcoal;
	overflow:hidden;
	word-break:normal;
}
.tg th{
	font-family:$fontTitle, sans-serif;
	font-size:18px;
	font-weight:300;
	padding: 5px;
	border-style:solid;
	border-width:1px;
	border-color: $charcoal;
	overflow:hidden;
	word-break:normal;
}
.tg .tg-heading{
	background-color:$green;
	color:$white;
	text-align:center;
	vertical-align:top
}
.tg .tg-heading2{
	background-color:$aqua;
	color:$white;
	text-align:center;
	vertical-align:top
}
.tg .tg-cell{
	background-color: lighten($charcoal, 40%);
	color:#ffffff;
	text-align:center;
	vertical-align:top
}
.buy-now {
	display: block;
	margin: 1em auto;
	max-width: 40%;
	padding: 15px;
	border-radius: 5px;
	color: $white;
	font-family: $fontTitle;
	text-transform: uppercase;
	&:hover {
		color: darken($white, 5%);
		text-decoration: none;
	}
} // .buy-now
#buy-cannabis {
	background: $green;
	&:hover {
		background: darken($green, 5%);
	}
}// #buy-cannabis
#buy-non-cannabis {
	background: $aqua;
	&:hover {
		background: darken($aqua, 5%);
	}
}// #buy-non-cannabis

// - - - - - - - - - - - - - - - - - - - - - - USES
#uses {
	width:100%;
	text-align: center;
	margin: 0 auto;
	@media screen and (min-width:970px){
			width: 80%;
	}
	img {
		transform: scale(1,1);
		@media screen and (max-width:540px){
			transform: scale(.75,.75);
		}
	}// img
	.section-title {
		@media screen and (max-width:540px){
			margin-top: 0;
		}
	}// .section-title
	h2 {
		text-align: left;
		display: block;
		@media screen and (max-width:540px){
			font-size: 24px;
		}
	}// h2
	.body-conditions {
		color: red;
		border-bottom: 2px solid $red;
	}
	.skin-conditions {
		color: $blue;
		border-bottom: 2px solid $blue;
	}
	.condition-table {
		display: table;
		width: 100%;
	}
	.condition-cell {
		display: table-cell;
		width: 50%;
		text-align: left;
		ul {
			margin: 0;
			padding-left: 10px;
			list-style-type: none;
			li {
				@media screen and (min-width:740px){
					font-size: 1.2em;
				}
				&:before {
					display: block;
					float: left;
					font-family: 'fontawesome';
					font-size: 8px;
					content: '\f111';
					margin-right: 5px;
					margin-top: 6px;
					@media screen and (min-width:740px){
						margin-top:15px;
						margin-right:15px;
					}
				}// &:before
			}// li
		}// ul
		.body-list {
			li::before {
				color: $red;
			}
		}// .pain-list
		.skin-list {
			li::before {
				color: $blue;
			}
		}// .skin-list
	}// .condition-cell
}// #uses

// - - - - - - - - - - - - - - - - - - - - - - OUR STORY
#story {
	background: #613701;
	background-image: url('images/story_bg.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	width: 100%;
	text-align: center;
	.section-title {
		color: $white;
		text-align: left;
		display: block;
		width: 80%;
		margin: 15px auto;
		@media screen and (max-width: 760px){
			width: 100%;
		}
	}// .section-title
	.entry-content {
		color: white;
		text-align: justify;
		width: 80%;
		margin: 15px auto;
		padding: 0;
		padding-top: 15px;
		border-bottom: 2px solid $white;
		border-top: 2px solid $white;
		@media screen and (max-width: 760px){
			width: 100%;
		}
	}// .entry-content
	.more-link {
		transition: all .5s ease-in-out;
		display: block;
		text-align: center;
		font-family: $fontTitle;
		text-transform: uppercase;
		width: 175px;
		padding: 25px 10px;
		margin: 0 auto;
		margin-bottom: 25px;
		color: $white;
		border: 2px solid $white;
		border-radius: 5px;
		&:hover {
			text-decoration: none;
			background: $white;
			color: #613701;
		}// &:hover
	}// .more-link
}// #story

// - - - - - - - - - - - - - - - - - - - - - - FAQs
#faq {
	.section-title {
		text-align: center;
	}
}
#faqs dt, #faqs dd { 
	padding: 0; 
}
#faqs dt {
	font-size: 26px;
	font-family: $fontTitle;
	font-weight: 300; 
	color: lighten($charcoal, 20%); 
	cursor: pointer;
	margin: 0 0 15px 15px;
	@media screen and (max-width:540px){
		font-size: 18px;
		margin-top: 15px;

	}
}
#faqs dd { 
	font-size: 1em; 
	margin: 0 0 20px 25px
}
#faqs dt {
	&:before {
		font-family: 'fontawesome';
		content: '\f0da';
		margin-right: 10px;
		color: $warming;
	}
}
#faqs .expanded { 
	&:before {
		font-family: 'fontawesome';
		content: '\f0d7';
		margin-right: 6px;
		color: $aqua;
	}
}
footer {
	.disclaimer {
		margin: 10px auto;
		padding: 10px;
		color: lighten($charcoal,20%);
		font-style: italic;
		background: darken($charcoal, 10%);
	@media screen and (min-width: 530px){
		max-width: 75%;
		}
	}// .disclaimer
}// footer
// - - - - - - - - - - - - - - - PATIENT SURVEY - - - -
.patient-survey {
	margin: 0 auto;
	max-width: 75%;
	@media screen and (max-width:760px){
		max-width:90%;
	}
	textarea {
		max-height: 100px;
	}
	input[type="submit"] {
		display: block;
		width: 40%;
		margin: 0 auto;
		padding: 15px;
		border-radius: 5px;
		background: $green;
		color: $white;
		font-family: $fontTitle;
		font-size: 1em;
		text-transform: uppercase;
		box-shadow: none;
		&:hover {
			background: darken($green, 5%);
			color: darken($white, 5%);
			text-decoration: none;
			box-shadow: none;
		}
		}// input type = submit
}// .patient-survey
